@import url('https://fonts.googleapis.com/css?fa:homily=Lato:300,400,900');

html,
body {
    height: 100%;
    width:100%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, a, .td-name, td, li {
  
  font-family: "lato","Helvetica Neue",Arial,sans-serif;
}
h1{
  font-weight:600;
  font-size: 50px;
}
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}
.slabtextdone .slabtext {
  display: block;
}
body {
  padding-bottom: 50px ;
}
body {
  font-weight: 300 ;
}
b,
strong {
  font-weight: 400 ;
}
a {
  color: inherit ;
}
.text-thin {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300 ;
}
p {
  font-size: 18px ;
  color: #444;
}
.cta {
  display: inline-block;
  overflow: hidden ;
  transition: all 400ms ease;
  border: 1px solid rgba(70, 51, 110, 0.3);
  color: #46336e;
  font-size: 110% ;
  font-weight: 400 ;
  margin: 5px auto ;
  border-radius: 20px ;
}
.cta .icon {
  padding-top: 10px ;
}
.cta:hover {
  border-color: rgba(236, 41, 57, 0.3);
  color: #ec2939;
}
.cta > * {
  display: block ;
  padding: 12px 25px ;
  text-align: center ;
}
.cta > small {
  padding-top: 0 ;
  margin-top: -15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300 ;
}
.cta .cta-header {
  background-color: #6f3060;
  color: white ;
}
.cta .cta-foot {
  padding-top: 0 ;
  text-decoration: none ;
  border-bottom-style: none ;
}
.cta .cta-foot .glyphicon {
  font-size: 70% ;
}
.cta .cta-foot:hover {
  color: #ec2939;
}
.cta .cta-body .big {
  font-weight: 600 ;
  text-align: justify ;
}
.btn-cta {
  margin: 5px auto ;
  padding: 15px 25px ;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300 ;
  text-transform: uppercase ;
  white-space: normal ;
}
.btn-cta small {
  font-size: 70% ;
}
@media (max-width: 480px) {
  .btn-cta {
    display: block;
    width: 100%;
  }
}
.container{
  max-width: 992px;
  padding: 0 40px ;
}
.containerpost{
  max-width: 850px;
  padding: 0 40px ;
}
.containerpost img:not(.avatar){
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.container-blog {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container-blog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-blog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-blog {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
}

header:not(#myCarousel) {
  background: url("../img/bg2.png") center no-repeat;
  background-size: cover ;
  filter: grayscale(30%);
}
.header-alt{
  min-height: 400px ;
  background: #efefef;
  background-size: cover ;
}
.header-blog{
  min-height: 400px;
}
.header-blog h1{
  margin-top: -20px;
  color:white;
  font-size: 60px;
}
@media (min-width: 768px) {
  header:not(.header-blog) {
    min-height: 700px ;
  }
}
@media (max-width: 768px) {
  .header-alt {
    min-height: 100px;
    height: auto ;
  }
}
.section-bg{
  background: url('../img/bg-fr.jpg') center center no-repeat transparent;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-bg img {
padding:10px;
  }
@media (min-width: 768px) {
.section-bg img {
max-height: 300px;
  }
}
  .section-bg h2 small {
color: #fafafa;
font-size: 55%;
  }
.posts{
  max-width: 992px;
  border-radius: 3px ;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: white ;
  color: #6f3060;
  margin: 20px auto 30px ;
  height: 150px;
  white-space: normal;
}

.punch-line {
  max-width: 992px;
  border-radius: 3px ;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: white ;
  color: #6f3060;
  padding:20px;
  margin: 20px auto 30px ;
  font-size: 34px;
  text-align: center ;
}

.punch-line b {
  font-weight: 200;
  color: #ec2939;
}
section {
  margin: 50px auto ;
}
section h1 {
  margin-bottom: 35px ;
}
section h3 {
  margin-bottom: 25px ;
}
section .feature-box {
  text-align: center ;
  padding-bottom: 25px ;
}
section .feature-box .big-icon {
  display: block ;
  color: #46336e;
  margin: 15px auto ;
}
section .feature-box.feature-img {
  padding: 50px ;
}
section .member .member {
  display: inline-block;
  width: 150px ;
  margin: 0 auto ;
}
.member a{
  border-bottom: 0px;
}
section .member .avatar {
  width: 80px;
  height: 80px;
  margin: 15px ;
}
section .member .name {
  font-weight: 400 ;
}
section .member .title {
  font-size: 80% ;
}
section .contact-link {
  margin: 30px auto ;
}
section .contact-link li {
  margin: 15px ;
  width: 200px ;
}
section .contact-link .fa {
  margin: 25px ;
}
section .contact-link li:nth-child(1) .fa {
  color: #46336e;
}
section .contact-link li:nth-child(2) .fa {
  color: #6f3060;
}
section .contact-link li:nth-child(3) .fa {
  color: #9a2d53;
}
section .contact-link li:nth-child(4) .fa {
  color: #c32c46;
}
section .contact-link li:nth-child(5) .fa {
  color: #ec2939;
}
section.featured-content {
  background-color: #F6F6F6 ;
  color: rgba(0, 0, 0, 0.8);
  padding-top:10px;
  padding-bottom:10px;
}
section.featured-content .big-icon {
  color: rgba(0, 0, 0, 0.7);
}
section.container.video {
  max-width: 768px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
.punch-line {
    font-size: 19px;
  }
}
.punchline {
  font-size: 32px;
  color:white;
  margin: 60px auto 100px ;
}
@media (max-width: 768px) {
.punchline {
  font-size: 22px;
  }
}
h2 small {
  font-size: 55%;
}
.avatar{
  max-width: 80px;
  margin:10px;
}
.name {
  font-weight: 400;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}
h4 {
  line-height: 1.5em;
}
.brands{
  margin-top: -100px;
}
.uptight{
  background-color: white;
  position: relative;
  margin-top: 0px;
  z-index:1000;
  padding: 35px 20px 35px 20px;
  margin-bottom:105px;
}
@media (min-width: 769px) {
  .uptight{
  padding: 45px 100px 45px 100px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: -300px;

 }
}
.img-projet{
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 30px;
  margin-top:20px;
}
@media (max-width: 500px) {
  .img-projet{
    padding:0px;
    border: 0px;
    }
  }

.morecontent span {
    display: none;
}
.morelink {
    display: block;
    border-bottom: 0px;
    font-weight: 400;
}
.projet-desc{
  text-align: justify;
}
@media (max-width: 550px) {
  .projet-desc{
    text-align: left;
  }
}
.navbar-default{
  background-color: transparent;
  border:0px;
}
.navbar-default a, .navbar-default .navbar-nav>li>a{
  color:white;
  opacity: 0.8 ;
  transition: all 100ms ease;
  border-bottom: 0px;
  font-weight:400;
}
.navbar-default a:hover, .navbar-default .navbar-nav>li>a:hover{
  color:white;
  opacity: 1 ;
}
.navbar-alt a, .navbar-alt .navbar-nav>li>a{
  opacity: 0.8 ;
  transition: all 100ms ease;
  border-bottom: 0px;
  font-weight:400;
}
.navbar-alt a:hover, .navbar-alt .navbar-nav>li>a:hover{
  color:black;
  opacity: 1 ;
}

.btn-don{
float:right;
margin-right:-15px;
margin-top:-15px;
color:#46336e;
}
.btn-don:hover{
float:right;
margin-right:-15px;
margin-top:-15px;
color:#c32c46;
}
.fa-circle{
  background-color: #673163;
  border-radius:50%;
  padding-top: 14px;
  padding-left:5px;
  border-bottom:0px;
   height:130px;
  width: 130px;
}
.fa-circle:hover{
  background-color: #c32c46;

}
.fa-circle-2{
  border-radius:50%;
 min-height: 100px;
 min-width: 100px;
 padding-top: 26px;
  border:1px solid black;
  transition: all 300ms ease;
}
.fa-circle-2:hover{
  background-color: white;
}
.footer{
  margin-top:30px;
  padding-bottom: 20px;
  background-color: #2a1d2f;
  color:#cecece;
}
footer p{
color: #cecece;
}
.footer a{
  border-bottom: 0px;
}
.footer a:hover{
  color: #fff;
}
.footer-left{
  list-style: none;
  font-weight: 400;
padding-left:0;
  font-size:18px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .footer-left{
  font-size:22px;
  text-align:center;
  border-right: none;
  line-height: 30px;
 }
}
@media (max-width: 767px) {
  .footer-left li{
  margin-bottom:20px;
 }
}
.copyright{
  text-align: center;
}
.footer-icons{
  text-align:right;
  font-size:25px;
}
.footer-icons i:hover{
  color:#fff;
}
.footer-icons i:not(.fa-twitter){
  padding-right:30px;
}
@media (max-width: 768px) {
  .footer-icons{
    margin-top:30px;
    text-align: center;
  }
}
a:hover{
  color:#c32c46;
   transition: all 0.5s ease 0s;
}
.btn{
  transition: all 0.2s ease 0s;
}
.grey{
  background-color: #F6F6F6;
  margin-left:-100px;
  margin-right:-100px;
  height:auto;
  margin-bottom:-45px;
  padding-left:100px;
  padding-right:100px;
  padding-top:30px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .grey{
   margin-left:-40px;
  margin-right:-40px;
  height:auto;
  padding-left: 40px;
  padding-right: 40px;
  }
}
.section-features {
  padding-top:50px;
  padding-bottom:50px;
  padding-left:15px;
  padding-right:15px;
}
.fatou{
  font-weight: 900;
  font-size:40px;
  text-shadow: 3px 2px 0px #ccc;
}
@media (max-width: 768px){
  .fatou{
font-size:30px;
  }
}
.btn-nav{
  margin-top:14px;
  opacity: 1 !important;
  margin-left:15px;
}
.btn-nav span{
  color:black;
}
.slider-nav{
  margin-top: -160px;
}
@media (max-width: 400px){
  .slider-nav{
  margin-top: -170px;
  }
}
.hero-bg{
  min-height:550px;
  height: auto;
}
.hero-mini{
  min-height:100px;
  min-width:100px;
}
@media (max-width: 769px) {
  .hero-bg {
    min-height:350px;
    }
  }
.hero-title{
  font-weight:900;
  font-size:50px;
  color:white;
  padding-top:50px;
}
.hero-title a{
  border-bottom:0px;
}
@media (min-width: 769px) {
  .hero-title{
  padding-top:110px;
}
}
.hero-text{
  font-weight:400;
  font-size:45%;
  color:white;
  padding-bottom:40px;
}
@media (max-width: 769px) {
  .hero-title {
    font-size:40px;
    }
  }

:focus {
    outline: auto 0px;
}
a:focus{
  outline: auto 0px;
}
.btn:focus{
   outline: auto 0px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */
.carousel a:hover{
  color:inherit;
}

header.carousel {
    height: 400px;
    min-height: 400px;
}

@media(max-width:768px) {
  header.carousel {
    height:250px;
    min-height: 200px;
  }
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
}

.period {
    display: block;
    font-style: italic;
}

@media(min-width:768px) {
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/

  @media (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
}


#myCarousel p, #myCarousel h1{
  color:white;
}
#myCarousel p{
  font-size:22px;
  font-weight:400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
#myCarousel h1{
  font-weight:900;
  font-size:55px;
  padding-top:80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@media(max-width:768px) {
 #myCarousel h1{
font-size: 40px;
padding-top:40px;
  }
}
@media(max-width:768px) {
#myCarousel p{
font-size: 18px
  }
  .getsmaller{
font-size:16px;
  }
}
@media(max-width:550px) {
  #myCarousel h1{
    font-size: 35px
  }
  #myCarousel p{
font-size: 16px
  }
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.pagination {
  height: 36px;
}
.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination li {
  display: inline;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination a:hover, {
  background-color: whiteSmoke;
}
.pagination .active a {
  color:white;
  background-color: #C32C46;
}
@media(max-width:767px){
#twitter-widget{
padding-left:50px;
padding-right:50px;
  }
}
h1{
margin-top:0;
}
.btn-well{
  white-space: normal;
  max-width:400px;
}

.logo-blog img{
  height:60px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.share-icons i{
  font-size:23px;
  padding-left:8px;
  padding-right:8px;
}
.thumbnails {

  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
float:left;
}
.thumbnails img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.navbar-right {
    margin-right: 0;
  }
  .navbar{
    padding-top:15px;
    padding-bottom: -10px;
  }

.marketing{
    padding-top:50px;
   padding-bottom: 50px;
  }
  .marketing-tight{
    max-width:800px;
  }
.lead b{
  font-weight:900;
  font-size:22px;
}
.welltitle b{
   font-weight:900;
  font-size:20px;
}
@media(max-width:768px) {
  .lead b{
  font-size:18px;
}
.img-post{
  max-height:80%;
  overflow:hidden;
  }
}
.post p a{
  border-bottom: 1px dotted black;
}
.thumbnail-txt{
color: rgba(255, 255, 255, 0.8)
}
.section1{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86294b+0,482342+50,3b2344+100 */
background: #86294b; /* Old browsers */
background: -moz-linear-gradient(left,  #86294b 0%, #482342 50%, #3b2344 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #86294b 0%,#482342 50%,#3b2344 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #86294b 0%,#482342 50%,#3b2344 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86294b', endColorstr='#3b2344',GradientType=1 ); /* IE6-9 */
}
.section2{
background-color: #222;

}
.newsletter{
  max-width: 320px;
  margin:auto;
}
.well-newsletter{
  padding-top:2px;
  margin-top: -20px;
  color:#cecece;
  background-color: transparent;
}
.colory li{
opacity: 0.9;
width:40.7vw;
padding-left:30px;
padding-top:20px;
padding-bottom:5px;
margin-bottom:20px;
list-style: none;
transition: all 0.3s ease 0s;;
}
.colory p{
  color:white;
}
.colory li:hover{
  opacity:1;
}
.colory i{
  font-size:30px;
  padding-right:15px;
}

@media(max-width:991px) {
  .colory li{
    width:81vw;
  }
}

.colory li:nth-child(1) {
  background-color: #3C2344;
}
.colory li:nth-child(2) {
  background-color: #502443;
}
.colory li:nth-child(3) {
  background-color: #652646;
}
header h2, header h4{
  color:rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 400;
}
@media(max-width:768px){
  header h2{
    font-size: 22px;
  }
}
.well-homepage{
  max-width: 550px;
  margin:auto;
  margin-bottom:60px;
}
.well-event{
  width: auto;
  margin:auto;
  margin-bottom:60px;
}
@media(max-width:768px){
  .well-event{
  max-width: 550px;
  }
}
.dark{
  background-color: rgba(32, 56, 125, 1);
}
.realisations{
  height:auto;
}
.projects li{
  list-style: none;
}
section{
  margin:0;
}
.brands{
  margin-top:90px;
  margin-bottom: 90px;
}
.projects h1, .projects p{
color: rgba(255, 255, 255, 0.9);
}
.avatar-blog{
  max-width: 40px;
  border-radius: 50%;
}
.avatar-page{
  max-width: 80px;
  border-radius:4px;
  border: 1px solid #cecece;
  margin:15px;
}
@media(max-width:768px) {
  .center-xs{
    text-align: center;
  }
}
.well-story{
  padding-left:50px;
  padding-right: 50px;
  text-align: left;
}
.well-member{
  position:relative;
}
.well-member:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: #fff #fff #dbdbdb #dbdbdb;
  background: #dbdbdb;
  display: block; width: 0;
}
.fa-book{
  color:#222;
}
.well-img{
padding-bottom: 50px;
min-height:300px;
position: relative;
}
.well-img-index{
  min-height:320px;
}
.well-img-event{
  min-height:450px;
}
.blog-img{
height:300px;
}
@media(max-width:991px) {
  .blog-img{
height:220px;
  }
}
.well-img:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: #fff #dbdbdb #fff #dbdbdb ;
  background: #dbdbdb;
  display: block; width: 0;
}
.thumbnail-img{
  min-height: 120px;
  margin: -19px -19px 15px -19px;
}
.thumbnail-event{
  min-height: 300px;
  margin: -19px -19px 15px -19px;
}
@media(max-width:992px) {
 .thumbnail-event{
  min-height: 200px;
  }
}
@media(max-width:768px) {
 .thumbnail-event{
  min-height: 150px;
  }
}
.avatarwell{
  position: absolute;
  bottom:1px;
  left:1px;
}
.person{
  position: absolute;
  bottom:30px;
  left:60px;
}
.welldate{
  position: absolute;
  bottom:1px;
  left: 60px;
}
@media(max-width:768px) {
  .carousel-control{
    visibility: hidden;
  }
}
.en:lang(en), .fr:lang(fr){
font-size:22px;
}
.form-control:not(#search-input):not(#mc-embedded-subscribe){
  background-color: transparent;
  border-bottom: dashed 2px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius:0;
  color: #999;
  width: 100%;
}
.form-control:focus:not(#search-input):not(#mc-embedded-subscribe) {
  border-color: #fff;
  color: #fff;
}
input:-webkit-autofill:not(#mc-embedded-subscribe):not(#search-input) {
    -webkit-box-shadow: 0 0 0px 1000px #2A1D2F inset;
    -webkit-text-fill-color: white !important;
}

input:not(#mc-embedded-subscribe):not(#search-input) {
    -webkit-appearance: textfield;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    border-width: 2px;
    border-style: none;
    width:100%;
    text-align: center;
}
#page {
background-color: #EFEFEF;
}
.btn-news{
  width:100%;
}
.img-bw{
-webkit-filter: grayscale(100%);
-moz-filter:grayscale(100%)
filter: grayscale(100%);
}
.navbar-alt .navbar-toggle {
  border-color: #888;
}
.navbar-alt .navbar-toggle:hover,
.navbar-alt .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar-alt .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-alt .navbar-collapse,
.navbar-alt .navbar-form {
  border-color: #888;
}