---
layout: homepage
homepage: true
---

    <div class="container marketing marketing-tight">

     <blockquote style="text-align:left">
  <h1 >La démocratie doit se réinventer à l’heure d’internet.</h1>
  <footer>Extrait de notre <a href="{{site.url}}/blog/DemocracyOS"><cite title="Source Title" style="border-bottom:dotted 1px black">Manifeste</cite></footer></a>
</blockquote>
<p class="lead"> DemocracyOS est une plateforme <b>open source</b> : libre, gratuite, indépendante, réplicable. Son but est de favoriser la participation de tous à la fabrique de décisions politiques, à l'heure où internet a changé presque tous les aspects de notre vie quotidienne... sauf le fonctionnement de nos démocraties.<br>
<br>Notre mission est d' accompagner et rassembler des mouvements citoyens, des institutions, des start-ups, des associations et tous types de structure prêts à faire le pari de la démocratie participative en ligne grâce à un outil libre, simple et efficace. <br><br>Nous œuvrons pour promouvoir une culture de participation citoyenne nouvelle génération et favoriser l’émergence d’un écosystème de technologies citoyennes (civic- tech) en France.
<br>
  <br>


<br>

 </div>


<section class="featured-content">
      <div class="container marketing" >

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading">Comment ça marche? <span class="text-muted">DemocracyOS</span></h2>
          <p class="lead"><b>Proposez: </b> Créez votre démocratie locale en quelques clics et publiez les sujets à débattre, en offrant les informations nécessaires aux participants. 
            <br> <b>Débattez: </b>Donnez votre opinion sur une plateforme conçue pour filtrer les meilleurs arguments et repondez aux autres participants.
            <br><b>Décidez: </b>Activez le module de vote et amenez tout le monde à prendre une décision en temps voulu, grâce à des échéances claires. </p>
        </div>
        <div class="col-sm-5">
          <br>
          <br>
          <img class="featurette-image img-responsive center-block" src="img/iphone-black.png" alt="dos-evices">
           <div class= "text-center">
               <h3 style="font-weight:600">Prêt à créer votre démocratie?</h3>
                <a class="btn btn-primary btn-lg" href="http://democracyos.eu/docs-fr/" target="_blank">
                <span ></i>Démarrer</span></a>
                </div>
        </div>
      </div>
      </div>
    
         
         
        
      </section>

   
<section>
  <br>
  <br>
  <div class="container marketing">
      <div class="row featurette">
        <div class="col-sm-7 col-sm-push-5">
          <h2 class="featurette-heading">Qui utilise DOS?<span class="text-muted"> En France et ailleurs</span></h2>
          <p class="lead">Ville de Nanterre, Mairie de Paris, #MAVOIX et plus encore.
                      <b>Collectivités, équipes de travail, associations, mouvements politiques...</b> DemocrayOS s'adresse à tout type de collectif ayant un besoin de consultation et de prise de décision.</p>

        </div>
        <div class="col-sm-5 col-sm-pull-7">
           <img class="featurette-image img-responsive center-block" src="img/polygon.png" alt="dos-evices">
           <br>
               <div class="text-center">
           <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/projets">
                        <span><i class="fa fa-bank"></i> Réalisations</span>

                    </a>
                </div>
           
        </div>
      </div>
      </div>
       <br>
  <br>
    </section>

<section>
<div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Vous aussi, participez  <span class="text-muted">à DemocracyOS!</span></h2>
          <p class="lead">DemocracyOS est une application open source: tout le monde peut participer à son développement, et il y a mille manières de le faire. Si vous avez des connaissances en programmation, en traduction, en design ou autre expertise, vous pouvez nous <a href="{{site.baseurl}}/participer" style="font-weight:900"> apporter une aide ponctuelle.</a> Si le domaine des civic-tech vous intéresse et que vous souhaitez vous impliquer davantage, <a href="{{site.baseurl}}a-propos" style="font-weight:900">découvrez notre équipe</a> et rejoignez nous!</p>

           <p class="lead">Parce que le développement de l'application dépend aussi des moyens financiers de l'association,  Faire un don contribue directement à la réussite de DemocracyOS. </p>
   
   <a class="btn btn-info btn-md" href="https://www.helloasso.com/associations/democracyos-france/collectes/dons-2016-2017" target="_blank"><span>Faire un don</span></a>
   <br>
    <br>
        
            <p class="lead"><b>Merci pour votre soutien!</b></p>

           

           
        </div>
        <div class="col-md-5">
          <br>
         <br>
        <br>
<ul class="colory">
          <li><a href="{{site.baseurl}}/participer"><p class="lead"><i class="fa fa-inverse fa-pencil" aria-hidden="true"></i><b> Participer</b></p></a></li>
          <li><a href="https://www.helloasso.com/associations/democracyos-france/adhesions/adhesion-a-democracyos-france" target="_blank"><p class="lead"><i class="fa fa-user-plus fa-inverse" aria-hidden="true"></i><b>Devenir membre</b></p></a></li>
          <li><a href="https://www.helloasso.com/associations/democracyos-france/collectes/dons-2016-2017" target="_blank"><p class="lead"><i class="fa fa-heart fa-inverse" aria-hidden="true"></i>
<b>Faire un don</b></p></a></li>
        </ul>

        <br>
        <br>
           
           <br>
          
           
        </div>
      </div>
</section>

      </div>


{% assign events = site.events | sort: 'date' | reverse %}
 {% for event in events limit:1 %}
<h1 class="text-center fatou" style="color:{{event.background}} ; margin-top:50px;">{{event.type_evenement}}</h1>

        {% include events.html %}
            {% endfor %}


  

      <section class="brands container text-center">
            <h4>DemocracyOS France dans les médias:</h4><br>
            <center>
          {% include brands.html %}
        </center>

<br>



    </section>

    <!-- 
    <div class="container">

      <div id="full-clndr" class="clearfix">
          <script type="text/template" id="full-clndr-template">
            <div class="clndr-controls">
              <div class="clndr-previous-button">&lt;</div>
              <div class="clndr-next-button">&gt;</div>
              <div class="current-month"><%= month %> <%= year %></div>

            </div>
            <div class="clndr-grid">
              <div class="days-of-the-week clearfix">
                <% _.each(daysOfTheWeek, function(day) { %>
                  <div class="header-day"><%= day %></div>
                <% }); %>
              </div>
              <div class="days">
                <% _.each(days, function(day) { %>
                  <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                <% }); %>
              </div>
            </div>
            <div class="event-listing">
              <div class="event-listing-title">EVENTS THIS MONTH</div>
              <% _.each(eventsThisMonth, function(event) { %>
                  <div class="event-item">
                    <div class="event-item-name"><%= event.title %></div>
                    <div class="event-item-location"><%= event.location %></div>
                  </div>
                <% }); %>
            </div>
          </script>
        </div>


      <div id="mini-clndr">
          <script id="mini-clndr-template" type="text/template">

            <div class="controls">
              <div class="clndr-previous-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></div><div class="month"><%= month %></div><div class="clndr-next-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>

            <div class="days-container">
              <div class="days">
                <div class="headers">
                  <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                </div>
                <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
              </div>
              <div class="events">
                <div class="headers">
                  <div class="x-button"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <div class="event-header">EVENTS</div>
                </div>
                <div class="events-list">
                  <% _.each(eventsThisMonth, function(event) { %>
                    <div class="event">
                      <a target="_blank" href="<%= event.url %>"><%= moment(event.date).format('Do') %>
                      <% if (event.endDate) { - <%= moment(event.endDate).format('Do MMM') %> } %>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>

          </script>
      </div>
 -->


    <h4 class="text-center">Derniers article à retrouver sur le <a href="{{site.baseurl}}/blog"><b>blog</b></a></h4>
    <br>


   <div class="row">
      <div class="container">
      {% for post in site.posts limit:2 %}
        <div class="col-sm-6">
          <div class="well well-homepage well-img well-img-index" style="margin-bottom:20px; padding-bottom:10px">
             <a href="{{site.baseurl}}{{post.url}}">
              <div class="thumbnail-img" style="background: url({{site.url}}/{{ post.hero }}) center no-repeat; background-size: cover ; ">  
              </div>
            </a>
            
              <p class="welltitle">
              <b>{{post.title| truncatewords:6}}</b><br>
               {{post.extrait | truncatewords: 12}} <br>
             <br><a href="{{site.baseurl}}{{post.url}}"><button class="btn-primary btn btn-xs">lire plus</button></a>
              </p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

 