---
layout: homepage
homepage: true
ref: home
lang: en
---

    <div class="container marketing marketing-tight">

     <blockquote style="text-align:left">
  <h1 >Democracy must reinvent itself in the Internet era.</h1>
  <footer>Excerpt of our <a href="{{site.url}}/blog/DemocracyOS"><cite title="Source Title" style="border-bottom:dotted 1px black">Manifesto</a> (in french)</cite> </footer>
</blockquote>
<p class="lead">DemocracyOS is an <b>open source</b> platform: free, independent and replicable. It aims to promote the participation of all in the political decision making industry, at a time when the Internet has changed almost every aspect of our daily life ... except the way our democracies work.<br>
<br>Our mission is to support civic movements, institutions, start ups, associations and any type of organization that is ready to embrace online participatory democracy by using a free, simple and powerful tool.<br><br>We promote a new culture of citizen involvment and favor the emergence of a civic tech ecosystem in France.</p>
<br>


<br>

 </div>


<section class="featured-content">
      <div class="container marketing" >

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading">How does the platform <span class="text-muted">work?</span></h2>
          <p class="lead"><b>Submit: </b>Create your DemocracyOS in a click. Build proposals and be the change you want to see.
            <br> <b>Debate: </b> Debate in a platform that rewards the best arguments and filters that noise that usually ends up calling the trolls.
            <br><b>Decide: </b> With a clear deadline, get everyone on board to reach a voted decision and avoid endless debates. </p>
        </div>
        <div class="col-sm-5">
          <br>
          <br>
          <img class="featurette-image img-responsive center-block" src="{{site.url}}/img/iphone-black.png" alt="dos-evices">
           <div class= "text-center">
               <h3 style="font-weight:600">Ready to start your democracy?</h3>
                <a class="btn btn-primary btn-lg" href="http://democracyos.eu/docs-fr/" target="_blank">
                <span ></i>Get started</span></a>
                </div>
        </div>
      </div>
      </div>
    
         
         
        
      </section>

   
<section>
  <br>
  <br>
  <div class="container marketing">
      <div class="row featurette">
        <div class="col-sm-7 col-sm-push-5">
          <h2 class="featurette-heading">Who uses DOS?<span class="text-muted"> In France and elsewhere</span></h2>
          <p class="lead">City of Nanterre, city of Paris, #MAVOIX and many more. <b>Local governments, associations, citizen movements, start ups...</b> DemocracyOS is designed for any type of collective that requires consultation and transparent decision making.</p>

        </div>
        <div class="col-sm-5 col-sm-pull-7">
           <img class="featurette-image img-responsive center-block" src="{{site.url}}/img/polygon.png" alt="dos-evices">
           <br>
               <div class="text-center">
           <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/works">
                        <span><i class="fa fa-bank"></i> Use cases </span>

                    </a>
                </div>
           
        </div>
      </div>
      </div>
       <br>
  <br>
    </section>

<section>
<div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Get involved with the <span class="text-muted"> community</span></h2>
          <p class="lead">DemocracyOS is an open source platform: anyone can take part in its development process. If you're a programmer, a translater, a designer, or have any other area of expertise, you're more than welcome to <a href="{{site.baseurl}}/get-involved" style="font-weight:900"> bring your support</a>. If civic tech sounds interesting to you and you'd like to get involved more deeply, <a href="{{site.baseurl}}/about" style="font-weight:900">meet our team</a> and join us!</p> 

           <p class="lead">Because the platform's development also depends on the association's financial resources, donations help DemocracyOS go forward. </p>
   
   <a class="btn btn-info btn-md" href="https://www.helloasso.com/associations/democracyos-france/collectes/dons-2016-2017" target="_blank"><span>Make a donation</span></a>
   <br>
    <br>
        
            <p class="lead"><b>Thanks for your support!</b></p>

           

           
        </div>
        <div class="col-md-5">
          <br>
         <br>
        <br>
<ul class="colory">
          <li><a href="{{site.baseurl}}/participate"><p class="lead"><i class="fa fa-inverse fa-pencil" aria-hidden="true"></i><b> Participate</b></p></a></li>
          <li><a href="https://www.helloasso.com/associations/democracyos-france/adhesions/adhesion-a-democracyos-france" target="_blank"><p class="lead"><i class="fa fa-user-plus fa-inverse" aria-hidden="true"></i><b>Become a member</b></p></a></li>
          <li><a href="https://www.helloasso.com/associations/democracyos-france/collectes/dons-2016-2017" target="_blank"><p class="lead"><i class="fa fa-heart fa-inverse" aria-hidden="true"></i>
<b>Make a donation</b></p></a></li>
        </ul>

        <br>
        <br>
           
           <br>
          
           
        </div>
      </div>
</section>

      </div>


<div class="container marketing text-center">   
       <h2 class="">Latest articles from the <span class="text-muted"> <a href="{{site.baseurl}}/blog">blog</a></span></h2>
    <br>
    </div>
   <div class="row">
      <div class="container">
      {% for post in site.posts limit:2 %}
        <div class="col-sm-6">
          <div class="well well-homepage well-img well-img-index" style="margin-bottom:20px; padding-bottom:10px">
             <a href="{{site.baseurl}}{{post.url}}">
              <div class="thumbnail-img" style="background: url({{site.url}}/{{ post.hero }}) center no-repeat; background-size: cover ; ">  
              </div>
            </a>
            
              <p class="welltitle">
              <b>{{post.title| truncatewords:6}}</b><br>
               {{post.extrait | truncatewords: 12}} <br>
             <br><a href="{{site.baseurl}}{{post.url}}"><button class="btn-info btn btn-xs">lire plus</button></a>
              </p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

  <div class="container marketing" style="margin-top: -40px">  
      <br>

{% assign events = site.events | sort: 'date' | reverse %}
 {% for event in events limit:1 %}
  <hr>
<h2 class="text-center">Actualité</h2>
<br>
<br>


      <div class="well well-event well-img well-img-index" style="margin-bottom:20px; padding-bottom:10px">
             <a href="{{site.baseurl}}{{event.event_link}}">
              <div class="thumbnail-event" style="background: url({{site.url}}/{{ event.visuel }}) center no-repeat; background-size: cover ; ">  
              </div>
            </a>
            
              <p class="welltitle">
                <br>
              <b>{{event.title}}</b><br>
               {{event.description}} <br>
             <br><a href="{{site.baseurl}}{{event.event_link}}"><button class="btn-info btn">{{event.texte_bouton}}</button></a>
              </p>
          </div>
            {% endfor %}
</div>

      <section class="brands marketing container text-center" style="margin-top:-60px">
     <hr>
            <h2>DemocracyOS France dans les médias:</h2><br>
            
          {% include brands.html %}
       

<br>



    </section>

    <!-- 
    <div class="container">

      <div id="full-clndr" class="clearfix">
          <script type="text/template" id="full-clndr-template">
            <div class="clndr-controls">
              <div class="clndr-previous-button">&lt;</div>
              <div class="clndr-next-button">&gt;</div>
              <div class="current-month"><%= month %> <%= year %></div>

            </div>
            <div class="clndr-grid">
              <div class="days-of-the-week clearfix">
                <% _.each(daysOfTheWeek, function(day) { %>
                  <div class="header-day"><%= day %></div>
                <% }); %>
              </div>
              <div class="days">
                <% _.each(days, function(day) { %>
                  <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                <% }); %>
              </div>
            </div>
            <div class="event-listing">
              <div class="event-listing-title">EVENTS THIS MONTH</div>
              <% _.each(eventsThisMonth, function(event) { %>
                  <div class="event-item">
                    <div class="event-item-name"><%= event.title %></div>
                    <div class="event-item-location"><%= event.location %></div>
                  </div>
                <% }); %>
            </div>
          </script>
        </div>


      <div id="mini-clndr">
          <script id="mini-clndr-template" type="text/template">

            <div class="controls">
              <div class="clndr-previous-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></div><div class="month"><%= month %></div><div class="clndr-next-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>

            <div class="days-container">
              <div class="days">
                <div class="headers">
                  <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                </div>
                <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
              </div>
              <div class="events">
                <div class="headers">
                  <div class="x-button"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <div class="event-header">EVENTS</div>
                </div>
                <div class="events-list">
                  <% _.each(eventsThisMonth, function(event) { %>
                    <div class="event">
                      <a target="_blank" href="<%= event.url %>"><%= moment(event.date).format('Do') %>
                      <% if (event.endDate) { - <%= moment(event.endDate).format('Do MMM') %> } %>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>

          </script>
      </div>
 -->


    <h4 class="text-center">Latest articles available on the <a href="{{site.baseurl}}/blog"><b>blog</b></a></h4>
    <br>


   <div class="row">
      <div class="container">
      {% for post in site.posts limit:2 %}
        <div class="col-sm-6">
          <div class="well well-homepage well-img well-img-index" style="margin-bottom:20px; padding-bottom:10px">
             <a href="{{site.baseurl}}{{post.url}}">
              <div class="thumbnail-img" style="background: url({{site.url}}/{{ post.hero }}) center no-repeat; background-size: cover ; ">  
              </div>
            </a>
            
              <p class="welltitle">
              <b>{{post.title| truncatewords:6}}</b><br>
               {{post.extrait | truncatewords: 12}} <br>
             <br><a href="{{site.baseurl}}{{post.url}}"><button class="btn-primary btn btn-xs">lire plus</button></a>
              </p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

 