<nav class="navbar navbar-default navbar-static-top" style="background-color:#111">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{% include logo.html %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           <li><a href="{{site.baseurl}}/blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/a-propos">À propos</a></li>
            <li><a href="{{site.baseurl}}/participer">Participer</a></li>
            <li><a href="http://democracyos.eu/docs-fr/" target="_blank">Démarrer</a>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>