<nav class="navbar navbar-default navbar-static-top" style="background-color:#111">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{% include logo.html %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/a-propos">À propos</a></li>
            <li><a href="{{site.baseurl}}/participer">Participer</a></li>
            <li><a href="http://democracyos.eu/docs-fr/" target="_blank">Démarrer</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="myCarousel" class="carousel slide carousel-fade">
      <div class="item">
       
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

                <div class="fill {{page.customclass}}" style=" background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{site.baseurl}}/{{ page.hero }}) center no-repeat; background-size: cover ; "> 
                  <div class="container"><h1>{{page.title}}</h1><p>{{page.description_hero}}</p> </div>
                </div>
                </div>
 
        </div>
        </div>

    </header>

    <br>
    <br>

   