<header class="header-blog">
 

 <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if page.lang == "en" %}
          <a class="navbar-brand" href="{{ site.baseurl }}/home">{% include logo.html %}</a>
          {% else %}
          <a class="navbar-brand" href="{{ site.baseurl }}/">{% include logo.html %}</a>
          {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% for menu in site.t[page.lang] %}
            <li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
          {% endfor %}

            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
             
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container text-center">
  <br>
  <br>

    <br>
  <br>
  <h1>Blog</h1>
       <br>
  <br>
     


 </header>

    <!--  
<header id="myCarousel" class="carousel slide carousel-fade">
       
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        
        <div class="carousel-inner">
            {% for post in site.posts limit:3 %}
          <div class={% cycle 'addclass': '"item active"', '"item"', '"item"' %}>

            
                <div class="fill {{post.customclass}}" style=" background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{site.baseurl}}/{{ post.hero }}) center no-repeat; background-size: cover ; "> <div class="container"><h1><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1><p>{{post.description_hero}}</p> </div>
                </div>
                </div>
     

          {% endfor %}
        </div>

        
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    -->



      

   


