
<ul class="list-inline member clearfix">
  {% for member in site.members %}
    <li class="member">
      <img class= "avatar img-circle" src="{{site.baseurl}}/{{ member.avatar }}">
      {% assign name = member.title | split:' ' | first %}
      <div class="name"> {{ name }} </div>
    </li>
  {% endfor %}
    <br>
    <br>
  <li class="member">             
    <a href="https://www.helloasso.com/associations/democracyos-france/adhesions/adhesion-a-democracyos-france" target="_blank">
    <i class="avatar fa fa-inverse fa-circle fa-user-plus fa-3x " aria-hidden="true"></i>
    </a>
    {% if page.lang == "fr" %}                      
    <div class="name"> Devenir membre </div>
    {% else %}
    <div class="name"> Join the team </div>
    {% endif %}
  </li>
</ul>


                



