---
title: Press Room
layout: default
lang: en
ref: press
---
<div class="marketing" style="text-align:left">
	<h2>Media kit </h2>
	<br>
	<p><b> Artworks, logos and font</b></p>
	<a class="btn btn-primary btn-lg" href="{{site.url}}/kitcom_democracyos.zip" download="kitcom"><span ></i><i class="fa fa-download" aria-hidden="true"></i> Download the kit</span></a>
	<br>
	<br>
	<br>
	<h2>Press releases</h2>
    <br>
    <ul class="list-unstyled">
		{% for post in site.posts %}
		{% if post.tags contains 'presse' %}
			<li><p>
			  <i class="fa fa-calendar-o" aria-hidden="true"></i> {%include date-display-post.html%} / <b><a href="{{post.url}}"><b>{{post.title}}</b></a></b></p>
			</li>
		{% endif %}
		{% endfor %}
		</ul>  
	<br>
	<br>
	<br>
	<h2>DemocracyOS in the press</h2>
	<br>
	<br>
	<center>
	 {% include brands.html %}
	</center>


</div>


        
          

        
          
