<!DOCTYPE html>
<html lang="{{page.lang}}">

  {% include head.html %}

  <body>

    {% include header-alt.html %}

    <div class="container marketing">
  
	
		<br>
<br>
			
      
          {{ content }}

     
  


  
    {% include footer.html %}
   
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% for js in page.customjs %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" type="text/javascript"></script>

  </body>
</html>