header
  .container
    nav.navbar
      span.navbar-brand
        img.img-responsive(src='images/logo-w.png', alt='logo')
      ul.nav
        li
          a(href='https://github.com/democracy-os-fr')
            i.fa.fa-github
        li
          a(href='https://twitter.com/DemocracyOS_FR')
            i.fa.fa-twitter
        li
          a(href='https://www.facebook.com/DemocracyOSfrance')
            i.fa.fa-facebook
    .punch-line
      p
        | de&nbsp;meilleures d&eacute;cisions, 
        b ensemble
